{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div id="visualization" class="container">
        <br/>
        <br/>
        <!-- columns should be the immediate child of a .row -->

            <div id="vis_row1" class="row">
                <!--<div id="vis1" class="six columns well">One</div>
                <div id="vis2" class="six columns well">Six</div>-->
            </div>

            <div id="vis_row2" class="row">
                <!--<div id="vis3" class="six columns well">One</div>
                <div id="vis4" class="six columns well">Six</div>-->
            </div>

            <div id="vis_row3" class="row">
                <!--<div id="vis5" class="six columns well">One</div>
                <div id="vis6" class="six columns well">Six</div>-->
            </div>

            <div id="vis_row4" class="row">
                <!--<div id="vis7" class="twelve columns well">One</div>-->
            </div>



</div>

{% endblock %}
