<!doctype html>
<html>
<head>
    <title> HackCU </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Angular js-->
    <script src="/static/js/lib/angular.min.js"></script>
    <script src="/static/js/lib/angular-route.js"></script>
    <script src="//connect.facebook.net/en_US/sdk.js"></script>

    <!--Bootstrap js-->
    <script src="/static/js/lib/jquery.min.js"></script>
    <script src="/static/js/lib/bootstrap.min.js"></script>

    <!--Leaflet js-->
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <script src="/static/js/lib/leaflet-routing-machine.min.js"></script>
    <script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-map.js?key=ToZQl1qWNAYdhWRtGKocMb4tG9vEQa7g"></script>

    <!--Controllers-->
    <script src="/static/js/app.js"></script>

    <!--StyleSheets-->
    <link href="/static/css/lib/bootstrap.css.map"/>
    <link rel="stylesheet" href="/static/css/lib/bootstrap-3.1.1.min.css"/>
    <link href="/static/css/lib/bootstrap-theme.css.map"/>
    <link rel="stylesheet" href="/static/css/lib/bootstrap-theme-3.1.1.css"/>
    <link rel="stylesheet" href="/static/css/lib/bootstrap-theme-3.1.1.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <link rel="stylesheet" href="/static/css/lib/leaflet-routing-machine.css">
    <link rel="stylesheet" href="/static/css/style.css"/>



</head>

<body ng-app="bikeApp" ng-controller="loginController">
    <!--navbar after login-->
        <nav class = "navbar navbar-default navbar-light" role = "navigation">
            <div class = "container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">HackCU</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class = "nav-item">
                            <a class = "nav-link" href="/#/directions">Get Directions</a>
                        </li>
                        <li class = "nav-item">
                            <a class = "nav-link" href="/#/friends">Friends</a>
                        </li>
                    </ul>
                </div>
                <!--
                <div ng-show = "loggedin" class = "nav navbar-nav navbar-right">
                    Logged in
                </div>
                -->
            </div>
        </nav>

    <div ng-view></div>

    <hr/>

    <!--Footer-->
    <footer class="company">
        <p><center> &copy; HackCU, 2017.</center></p>
    </footer>
    </div>
</body>

</html>