<!doctype html>
<html>
<head>
    <title> HackCU </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Angular js-->
    <script src="/static/js/lib/angular.min.js"></script>
    <script src="/static/js/lib/angular-route.js"></script>

    <!--Bootstrap js-->
    <script src="/static/js/lib/jquery.min.js"></script>
    <script src="/static/js/lib/bootstrap.min.js"></script>

    <!--Controllers-->
    <script src="/static/js/app.js"></script>

    <!--StyleSheets-->
    <link rel="stylesheet" href="/static/css/bootstrap-3.1.1.min.css">


</head>

<body ng-app="bikeApp">
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '405452559812718',
            xfbml      : true,
            version    : 'v2.9'
        });
        FB.AppEvents.logPageView();
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<!--navbar-->
<nav class = "navbar navbar-toggleable-md navbar-light" style = "font-size: 20px">
    <a class="navbar-brand" href="/#/">HackCU</a>
    <!--before login-->
    <div class = "collapse navbar-collapse">
        <ul class = "nav nav-pills pull-right">
            <li class = "nav-item">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Login <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <button class = "nav-link" ng-click="login()">Facebook</button>
                    </li>
                    <li>
                        <a class = "nav-link" href="/#/">Fitbit</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!--after login-->
    <!--
    <div class = "collapse navbar-collapse">
        <ul class = "nav nav-pills pull-right">
            <li class = "nav-item">
                <a class = "nav-link" href="/#/">About</a>
            </li>
            <li class = "nav-item">
                <a class = "nav-link" href="/#/">About</a>
            </li>
            <li class = "nav-item">
                <a class = "nav-link" href="/#/">About</a>
            </li>
            <li class = "nav-item">
                <a class = "nav-link" href="/#/">About</a>
            </li>
            <li class = "nav-item">
                <a class = "nav-link" href="/#/">About</a>
            </li>
        </ul>
    </div>
    -->
</nav>

<div ng-view></div>

<hr/>

<!--Footer-->
<footer class="company">
    <p><center> &copy; HackCU, 2017.</center></p>
</footer>

</body>

</html>